@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff");
  font-weight: light;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff");
  font-weight: regular;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff");
  font-weight: medium;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../src/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SpaceGrotesk", sans-serif;
}

.pageTitle {
  font-family: "Makhina";
}

.modal input[type=text]:focus  {
  border-bottom: 1px solid #f46717 !important;
  box-shadow: 0 1px #f46717 !important;
}

.modal input[type=text]:focus + label{
  color: #f46717 !important;
}