/* Profile Image Container */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.profile-image-container {
  position: relative;
  display: inline-block;
  margin: 20px;
  margin-left: 0px;
  max-width: 190px;
  width: 100%;
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.profile-image-container *,
.profile-image-container:before,
.profile-image-container:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.profile-image-container:before,
.profile-image-container:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb;
}

.profile-image-container img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

.profile-image-container figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
}

.profile-image-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
}

.profile-image-container a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.profile-image-container:hover figcaption,
.profile-image-container.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.profile-image-container:hover:before,
.profile-image-container.hover:before,
.profile-image-container:hover:after,
.profile-image-container.hover:after {
  border-width: 10px;
}

.profile-image-container:hover:before,
.profile-image-container.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.profile-image-container:hover:after,
.profile-image-container.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Image Upload Modal */

.modal-container {
  float: right;
  width: 700px;
  /* height: 1000px; */
}

.modal-shown {
  display: block;
}

.modal-hidden {
  display: none;
}

.image-upload-modal-button {
  background-color: rgba(69, 69, 69);
}

.image-upload-modal-button {
  flex: 1 1 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
}

.image-upload-modal-button:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
  right: auto;
  left: 0;
}

.image-upload-modal-button:hover {
  cursor: pointer;
  background-color: rgba(69, 69, 69);
  box-shadow: 0 0px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}

.image-upload-modal-button:hover:after {
  width: 100%;
}

.image-upload-modal-button:active {
  background-color: rgba(69, 69, 69);
}

.image-upload-modal-button:visited {
  background-color: rgba(69, 69, 69);
}

.file-upload {
  position: relative;
  margin-left: 12px;
  display: inline-block;
}

.file-upload__label {
  display: block;
  /* padding: 20px 2px; */
  height: 40px;
  color: #fff;
  background: #222;
  border-radius: .4em;
  transition: background .3s;
}

.file-upload__label:hover {
  cursor: pointer;
}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}

/* User Data */
/* Ideas Section */
.profile-campaign-list {
  margin-left: 10px;
  padding-right: 30px;
  height: 33vh;
  overflow-y: scroll;
}

.profile-campaign-item {
  padding-bottom: 30px;
  transition: transform() 2s;
}

.campaign-borderline {
  height: 1px;
  border-top: .5px solid rgba(69, 69, 69, 0.5);
}

.profile-campaign-item:hover {
  transform: scale(1.0001);
  color: rgb(23, 23, 23);
}

.campaign-link {
  color: rgba(69, 69, 69);
}


