/* .modal {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: none;
    overflow: visible;
}

label {
    font-size: 16px;
    padding: 10px;
}

textarea {
    height: 10em;
}

#submitDiscussion {
    margin-left: 10px;
}

#discussionFormModal {
    padding: 25px;
} */