
/* Fonts */
@font-face {
  font-family: "Arkipelago";
  src: url("../../fonts/Arkipelago.otf") format("opentype");
}
@font-face {
  font-family: "FatFont";
  src: url("../../fonts/FATFONT/WEB/FREEFATFONT-Regular.woff")
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff");
}

/* General Styles */
.landing-page-container {
  height: 200vh;
}

/* Logo, Links, UI, etc. */
.splash-container {
  height: 100vh;
}

    /* Logo */
    .logo-text {
      font-family: "Arkipelago";
      color: #ececec;
      font-size:8em;
      text-align:center;
      text-shadow: 0 0px 0 #333,
        0 6px 8px rgba(0,0,0,.4),
        0 9px 10px rgba(0,0,0,.15),
        0 30px 10px rgba(0,0,0,.18),
        0 15px 10px rgba(0,0,0,.21);
    }

    /* Auth Links */
    .links-container {
      height: 100px;
    }

    .auth-links {
      font-family: "SpaceGrotesk";
      margin-top: 20px;
      font-size: 20px;
      color: white;
      text-shadow: 0 0px 0 #333,
        0 6px 8px rgba(0,0,0,.4),
        0 9px 10px rgba(0,0,0,.15),
        0 30px 10px rgba(0,0,0,.18),
        0 15px 10px rgba(0,0,0,.21);
    }

    .button {
      flex: 1 1 auto;
      margin: 10px;
      padding: 20px;
      border: 2px solid #f7f7f7;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      overflow:hidden;
      transition: .3s;
    }

    .button:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #f7f7f7;
      right: 0;
      left: auto;
    }

    .button:hover {
      cursor: pointer;
      box-shadow: 0 0px 0 #333,
        0 6px 8px rgba(0,0,0,.4),
        0 9px 10px rgba(0,0,0,.15),
        0 30px 10px rgba(0,0,0,.18),
        0 15px 10px rgba(0,0,0,.21);
    }

    .button:hover:after {
      width: 100%;
      left: 0;
    }

    /* Auto Scroll */
    .scroll-click {
      display: block;
      width: 35px;
      height: 35px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin: auto;
      color: white;
      font-size: 45px;
      text-shadow: 0 0px 0 #333,
        0 1.5px 2px rgba(0,0,0,.4),
        0 2.25x 2.5px rgba(0,0,0,.15),
        0 7.5px 2.5px rgba(0,0,0,.18),
        0 3.75px 2.5px rgba(0,0,0,.21);
      animation: bounce 2s infinite;
    }

    .scroll-click:hover {
      text-shadow: 0 6px 8px rgba(0,0,0,.4),
        0 9px 10px rgba(0,0,0,.15),
        0 30px 10px rgba(0,0,0,.18),
        0 15px 10px rgba(0,0,0,.21);
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-10px);
      }
    }

/* About Page */
.about-container {
  height: 100vh;
  position: relative;
  background: rgba(232, 232, 232, 0.923);
  box-shadow: 0px -1px 8px 0px rgb(78, 78, 78);
}

    .display-text {
      font-family: "SpaceGrotesk";
      display: flex;
      height: 400px;
      height: 300px;
      color: black;
      position: relative;
      /* text-shadow: 0 0px 0 #333,
        0 3px 4px rgba(0,0,0,.4),
        0 4.5px 5px rgba(0,0,0,.15),
        0 15px 5px rgba(0,0,0,.18),
        0 7.5px 5px rgba(0,0,0,.21); */
      float: left;
      margin-left: 150px;
      margin-bottom: -100px;
    }

    #text {
			position: absolute;
			top: 50%;
			left: 50%;
      transform: translate(-50%,-50%);
      white-space: nowrap;
		}
		#text span {
			color: rgb(47, 47, 47);
			font-size: 60px;
			position: absolute;
			transform: translate(-50%,-50%) skewY(-15deg);
			perspective: 800px;
			left: 0;
      top: 0;
			transition: all .9s ease;
		}
		#text :nth-child(1) {
			color: rgb(47, 47, 47);
			clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 40%);
		}
		#text :nth-child(2) {
			transform: translate(-50%,-50%) skewY(-15deg) skewX(40deg);
			left: 8px;
			top: -2.5px;
			color: rgb(40, 40, 40);
			clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
		}
		#text :nth-child(3) {
			color: rgb(47, 47, 47);
			clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
			left: 16px;
			top: -4.5px;
    }
    
    /* Developer Profiles */
    .developer-profiles-container {
      width: 90%;
      margin: auto;
    }
    .custom-columns {
      align-content: center;
      text-align: center;
      display: inline-block;
      width: 20%;
    }

    /* .developer-name {
      display: block;
      margin: 20px;
      margin: auto;
    } */
    
    .developer-profile {
      position: relative;
      display: block;
      margin: 20px;
      margin-left: 0px;
      max-width: 140px;
      margin: auto;
      /* margin-left: 50px;
      margin-right: 60px; */
      color: #bbb;
      font-size: 16px;
      box-shadow: none !important;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    
    .developer-profile *,
    .developer-profile:before,
    .developer-profile:after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
    
    .developer-profile:before,
    .developer-profile:after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: -1;
      border: 2px solid #bbb;
      border-color: transparent #bbb;
    }
    
    .developer-profile img {
      max-width: 100%;
      backface-visibility: hidden;
      vertical-align: top;
      border-radius: 50%;
      padding: 10px;
    }
    
    .developer-profile figcaption {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 50%;
    }
    
    .developer-profile i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 4em;
      z-index: 1;
    }
    
    .developer-profile a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    
    .developer-profile:hover figcaption,
    .developer-profile.hover figcaption {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    
    .developer-profile:hover:before,
    .developer-profile.hover:before,
    .developer-profile:hover:after,
    .developer-profile.hover:after {
      border-width: 10px;
    }
    
    .developer-profile:hover:before,
    .developer-profile.hover:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    .developer-profile:hover:after,
    .developer-profile.hover:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

/* Animated Background */
.background-container {
  height: 100vh;
}

    .ripple-background {
      z-index: 1;
    }

    .circle {
      position: absolute;
      border-radius: 50%;
      background: white;
      animation: ripple 15s infinite;
      box-shadow: 0px 0px 1px 0px #ececec;
    }

    .small {
      width: 175px;
      height: 175px;
      left: -87.5px;
      bottom: -87.5px;
    }

    .medium {
      width: 350px;
      height: 350px;
      left: -175px;
      bottom: -175px;
    }

    .large {
      width: 525px;
      height: 525px;
      left: -262.5px;
      bottom: -262.5px;
    }

    .xlarge {
      width: 700px;
      height: 700px;
      left: -350px;
      bottom: -350px;
    }

    .xxlarge {
      width: 875px;
      height: 875px;
      left: -437.5px;
      bottom: -437.5px;
    }

    .shade1 {
      opacity: 0.2;
    }

    .shade2 {
      opacity: 0.5;
    }

    .shade3 {
      opacity: 0.7;
    }

    .shade4 {
      opacity: 0.8;
    }

    .shade5 {
      opacity: 0.9;
    }

    @keyframes ripple {
      0%{
        transform: scale(0.8);
      }
      
      50%{
        transform: scale(1.2);
      }
      
      100%{
        transform: scale(0.8);
      }
    }

    
