/* Fonts */
@font-face {
  font-family: "Arkipelago";
  src: url("../../fonts/Arkipelago.otf") format("opentype");
}
@font-face {
  font-family: "FatFont";
  src: url("../../fonts/FATFONT/WEB/FREEFATFONT-Regular.woff2")
}
.logo-text1 {
  font-family: "Arkipelago";
  color: #ececec;
  font-size: 42px !important;
  text-align:center;
  /* text-shadow: 0 0px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21); */
}
.header-nav {
  background-image: url(https://designshack.net/wp-content/uploads/black-texture-background.jpg);
}
.header {
    /* background: #006064; */
    background-image: url(https://designshack.net/wp-content/uploads/black-texture-background.jpg);
    min-height: 70px;
    font-size: 18px;
    padding: 20px 0;
    width: 100%;
    /* -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    color: #fff;
    z-index: 99;
    white-space: nowrap;
  }
  
  .header div {
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .header div:first-child {
    letter-spacing: 1px;
    font-weight: 900;
  }
  
  .pipe {
    margin: 0 20px;
  }
  
  
  
  @media (min-width: 576px) {
    .header {
      background-image: url(https://designshack.net/wp-content/uploads/black-texture-background.jpg);
      display: flex;
      /* position: fixed; */
      justify-content: left;
      font-size: calc(10px + 14 * (100vw - 320px) / 800);
    }
  
    .header div {
      margin-bottom: 0;
      margin-left: 5px;
      /* margin-right: 700px; */
      text-align: left;
      width: 33.333%;
    }
  }

  