.navbar {
  background: #006064;
  min-height: 70px;
  font-size: 18px;
  padding: 20px 0;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff;
  z-index: 99;
  white-space: nowrap;
}

.navbar div {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.navbar div:first-child {
  letter-spacing: 1px;
  font-weight: 900;
}



@media (min-width: 576px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    font-size: calc(10px + 14 * (100vw - 320px) / 800);
  }

  .navbar div {
    margin-bottom: 0;
    text-align: center;
    width: 33.333%;
  }
}