/* Fonts */
@font-face {
  font-family: "Arkipelago";
  src: url("../../fonts/Arkipelago.otf") format("opentype");
}
@font-face {
  font-family: "FatFont";
  src: url("../../fonts/FATFONT/WEB/FREEFATFONT-Regular.woff2")
}


.navbar {
  /* font-family: "Arkipelago"; */
  color: #ececec;
  text-align:right;
  text-shadow: 0 0px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
  height: 40px;
  font-size: 24px !important; 
  padding: 5px;
  /* width: 100%; */
  /* -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  color: #fff;
  z-index: 99;
  white-space: nowrap;
}

.navbar div {
  text-align: right;
  margin-bottom: 20px;
  width: 100%;
}

.navbar div:first-child {
  letter-spacing: 1px;
  font-weight: 900;
}



@media (min-width: 576px) {
  .navbar {
    display: flex;
    justify-content: right;
    font-size: calc(10px + 14 * (100vw - 320px) / 800);
  }

  .navbar div {
    margin-bottom: 0;
    text-align: right;
    width: 100%
  }
}